################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs/
bin/
obj/
packages/
*.suo
*.ide
*.user
/Source/Graph#/Algorithms/Layout/Simple/Hierarchical/aakx42lo.l4j